<style>
	.content2{
		margin-top: 20px;			
	}
	.content2 .clndr-controls, .content1{
		background-color: #FFF590;

	}	

	.content2, .content1{			
		margin: auto;
		width: 100%;	

	}
	.header2 h2, .month{
		color:black;
		font-weight: bold;
	}

	.clndr .clndr-controls .clndr-control-button .clndr-next-button { 
		position: absolute;
		right: 12%;
		top: 44%;
		width: 8px;
		height: 15px;
		text-indent: -4000px;
		background: url(img/calendar/calender-arw.png) no-repeat -12px 0px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	.clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
		cursor: default;
	}
	.clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
		position: absolute;
		left: 12%;
		top: 44%;
		width: 8px;
		height: 15px;
		text-indent: -4000px;
		background: url(img/calendar/calender-arw.png) no-repeat 1px 0px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	
	.day-contents .fa{
		color: pink;
	}

</style>	